{% extends is_granted(["ROLE_USER", "IS_AUTHENTICATED_ANONYMOUSLY"]) ? 'base_front.html.twig' : 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block page_content %}
    <form method="post" action="{{ path('front_login') }}">
            {% if error is not null %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connectés, cher(e) {{ app.user.username }} !
            </div>
            <a href="{{ path('show_ticket') }}" class="btn btn-outline-primary">Acceder à votre dossier</a>
            <a href="{{ path('app_logout') }}" class="btn btn-outline-primary">Déconnexion</a>
        {% else %}
            <label for="inputUsername">Username</label>
            <input type="text" value="" name="username" id="inputUsername" class="form-control" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-lg btn-primary mt-2" type="submit">
                Sign in
            </button>
        {% endif %}

    </form>
{% endblock %}
