{% extends is_granted("ROLE_USER") ? 'base_front.html.twig' : 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block page_content %}
    <div class="card border-primary p-3">
        <div class="row">
            <div class="col">
                <span>Prénom : {{ ticket.name }}</span>
                <span>Nom : {{ ticket.surname }}</span>
                <hr>
                <span>Domaine d'activité : {{ ticket.fieldActivity }}</span>
                <hr>
            </div>
            <div class="col">
                <div class="card p-2">
                    <span>Numéro de Dossier : {{ ticket.ticketNumber }}</span>
                    <hr>
                    <span>Date de création : {{ ticket.createdAt ? ticket.createdAt|date('d/m/Y') : '' }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>Message</span>
                <div>
                    {{ ticket.firstMessage }}
                </div>
            </div>
        </div>
    </div>
    <nav id="nav_messages"></nav>
    <div data-spy="scroll" data-target="#nav_messages" data-offset="0">
        {% if ticket.messages is not empty %}
            {% for message in ticket.messages %}
                <p>
                    {{ message.authorRole }} : {{ message.body }}
                    <a href="#" class="js-delete-msg"><span class="fa fa-trash"></span></a>
                </p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="card border-primary p-2 mb-3">
        {{ form_start(form, {'attr': {'class': 'form-group'}}) }}
        {{ form_row(form.body, {'attr': {'class': 'form-control'}, 'label': 'Réponse'}) }}
        {{ form_row(form.file, {'attr': {'class': 'custom-file'}}) }}
        {{ form_row(form._token) }}
        <button class="btn btn-outline-success">{{ button_label|default('Envoyer') }}</button>
        {{ form_end(form, {'render_rest': false}) }}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.js-delete-msg').on('click', function (e) {
                e.preventDefault();
                $(this).addClass('text-danger');
                $(this).find('.fa')
                    .removeClass('fa-trash')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');
            });
        });
        $('body').scrollspy({target: '#navbar-example'})
    </script>
{% endblock %}
